## ########################################################################## ##
## matrixxx syslinux/extlinux/isolinux boot config
##
## ########################################################################## ##

## ########################################################################## ##
## Refer to https://wiki.syslinux.org/wiki/index.php/Comboot/menu.c32
UI vesamenu.c32

TIMEOUT 50
KBDMAP german.kbd

## ########################################################################## ##
## Refer to https://wiki.syslinux.org/wiki/index.php?title=Menu

#MENU RESOLUTION 640 480
MENU TITLE Boot Menu
MENU BACKGROUND logo-640x480_menue.png

## Layout (25 rows for text mode, 28 rows for VESA graphics mode)
MENU WIDTH 80
MENU MARGIN 20
MENU ROWS 3
MENU HSHIFT 10
MENU VSHIFT 10
MENU TIMEOUTROW 10
MENU TABMSGROW 8
MENU CMDLINEROW 11
MENU HELPMSGROW 16
MENU HELPMSGENDROW 30

## MENU COLOR element   ansi    foreground background shadow
MENU COLOR border       30;44   #40ffffff  #a0000000  std
MENU COLOR title        1;36;44 #900000FF  #a0000000  std
MENU COLOR sel          7;37;40 #e0ffffff  #20ffffff  all
MENU COLOR unsel        37;44   #50ffffff  #a0000000  std
MENU COLOR help         37;40   #c0ffffff  #a0000000  std
MENU COLOR timeout_msg  37;40   #80ffffff  #00000000  std
MENU COLOR timeout      1;37;40 #c0ffffff  #00000000  std
MENU COLOR msg07        37;40   #90ffffff  #a0000000  std
MENU COLOR tabmsg       31;40   #30ffffff  #00000000  std

MENU CLEAR

## ########################################################################## ##
## compiled kernel parameter:
## apm=power-off nomce hpsa.hpsa_allow_any=1 loglevel=1

DEFAULT auto

LABEL auto
MENU LABEL Start CPU specific
KERNEL ifcpu64.c32
APPEND x64 -- x32

LABEL x64
MENU LABEL x64 - Kernel & Code amd64
KERNEL linux64
INITRD initrd.gz
APPEND system_dir=SYSTEM_amd64 lang=de log_buf_len=16M utc
# log_buf_len=n[KMG] Sets the size of the printk ring buffer
#                    LOG_BUF_SHIFT=14
#                    CONFIG_LOG_CPU_MAX_BUF_SHIFT=12
# nostartsound no3d

LABEL x32
MENU LABEL x32 - Kernel & Code i386
KERNEL linux
INITRD initrd.gz
APPEND system_dir=SYSTEM_i386 lang=de log_buf_len=16M vmalloc=256M utc
# log_buf_len=n[KMG] Sets the size of the printk ring buffer
#                    LOG_BUF_SHIFT=14
#                    CONFIG_LOG_CPU_MAX_BUF_SHIFT=12
# vmalloc=512M ## f2fs (32bit system) need more vmalloc !!!
# cat /proc/meminfo | grep -i vmalloc
#     VmallocTotal:        262144 kB
#     VmallocUsed:          23148 kB
#     VmallocChunk:             0 kB
# nostartsound no3d

